<footer class="footer navbar-static-bottom">
    <div class="container">
        <hr/>
        <div class="row navbar-static-bottom">
            <div class="col-md-3">
                <span class="copyright">Allugare 2017</span>
            </div>
            <div class="col-md-3" id="move-top">
                    <a href="#top" class="page-scroll"><i class="fa fa-arrow-circle-up fa-2x" aria-hidden="true"></i> Topo</a>
            </div>
            <div class="col-md-3">
                <!-- <ul class="list-inline social-buttons">
                    <li><a href="/"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="/"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="/"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul> -->
            </div>
            <div class="col-md-3">
                <ul class="list-inline quicklinks">
                    <li>
                        <a href="{% url 'contato' %}">Contato</a>
                    </li>
                    <!-- <li>
                        <a href="/">Termos de Uso</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</footer>
