{% extends 'blog/base.html' %}

{% block blog %}

    <h1>Bixo, Ambiente-se!</h1>
    <!-- <h2>Primeira compra no mercado</h2>
    <h4>Nossa ... a primeira compra no mercado para uma república ou para quem vai morar sozinho pela primeira vez é algo realmente engraçado.<br>
    Na minha primeira compra eu basicamente comprei vários pacotes de salgadinho, um kilo de amendoim, uma garrafa de água (porque eu estava com sede na hora) e uma porrada de coisa que estragou ou que eu não soube cozinhar direito.<br>
    Uma boa dica pra quem for fazer a lendária primeira compra no mercado é ser simplista comprar o necessário, e só depois disso começar a comprar as porcarias que você sempre quis comprar ou tudo e qualquer coisa maluca que você tiver vontade na hora (toda primeira compra no mercado alguém compra algo fora de contexto).<br>
    As coisas básicas estão em algumas categorias: produtos de higiene, comida fácil de fazer e coisas básicas pra casa.<h4>
    <h3>Produtos de higiene:</h3>
    <ul>
        <li>Papel higienico;</li>
        <li>Pasta de dente;</li>
        <li>Shampoo;</li>
        <li>Sabonete;</li>
        <li>Detergente;</li>
        <li>Sabão em pó;</li>
        <li>Desinfetante;</li>
    </ul>
    <h3>Comida fácil de fazer (coisas para qualquer um conseguir se virar e não morrer de fome):</h3>
    <ul>
        <li>Macarrão;</li>
        <li>Molho de tomate;</li>
        <li>Arroz;</li>
        <li>Temperos básicos (sal, açúcar, orégano, manjericão, azeite);</li>
        <li>Pão e frios;</li>
        <li>Leite;</li>
        <li>Ovos;</li>
    </ul>
    <h3>Coisas básicas da casa:</h3>
    <ul>
        <li>Vassoura;</li>
        <li>Rodo;</li>
        <li>Pano de prato;</li>
        <li>Fósforos;</li>
        <li>Velas;</li>
        <li>Protetor de alumínio para colocar em cima do forno (isso é muito prático… o fogão fica muito sujo sem um desses);</li>
    </ul> -->

{% endblock %}
