{% extends 'blog/base.html' %}

{% block blog %}
    <h1>Alternativas para alugar sem fiador</h1>
    <h4>Muitas imobiliárias exigem que você tenha um fiador para poder alugar um lugar para morar. E ... muitas vezes não conseguimos achar alguém para arcar com essa responsabilidade chata…<br>
    Qual alternativa para isso? Como conseguir alugar aquele lugar legal sem ter que conseguir um fiador?<br> Seguem algumas alternativas que podem facilitar a sua vida:</h4>

    <h3>Caução</h3>
    <p>O Caução é um depósito que você faz numa conta conjunta com o proprietário do imóvel, quando você for devolver o imóvel para a imobiliária recebe esse dinheiro de volta. Basicamente esse depósito é para ele se proteger de você não pagar aluguel enquanto você estiver morando lá.<br>
    A vantagem deste método é que você não tem pagar nenhuma taxa adicional, e no final do contrato de aluguel você recebe o caução de volta. A desvantagem é que você não pode usar o dinheiro (ele fica na conta conjunta) e ele não vai render nos meses/anos que estiver alugando o imóvel.<br>
    Na opção do caução, o valor é em geral de três aluguéis, depositados em uma poupança conjunta. Só é possível mexer nesse dinheiro com autorização de locatário e locador, ou por determinação da Justiça.
    </p>

    <h3>Fundos de investimento e títulos de capitalização</h3>
    <p>Esse método é parecido com o caução. Só que ao invés de depositar um valor em uma conta conjunta você cria um investimento (como um título ou fundo) e o usa como garantia. O investimento não pode ser sacado até você for devolver o imóvel para a imobiliária.<br>
    Esse método tem algumas vantagens: é possível utilizar um investimento já existente como garantia, e diferentemente do caução o dinheiro fica rendendo no banco durante o tempo que você estiver alugando o imóvel. Outra vantagem é que esse método é negociável, você pode conseguir pagar menos do que 3 alugueis como valor do investimento.<br>
    A maior desvantagem é a grande quantidade de dinheiro necessário para esta operação.
    </p>

    <h3>Seguro-fiança</h3>

    <p>O Seguro-fiança é um serviço que você tem que contratar. Você paga uma taxa para uma seguradora e isso serve de garantia para o proprietário. Caso você deixe de pagar o aluguel ele recebe uma compensação da seguradora (como um seguro de carro, só que para o aluguel).<br>
    Cada seguradora tem suas taxas, o custo varia entre uma e duas vezes o valor do aluguel por cada ano de contrato. Então a cada ano você paga de 1 a 2 alugueis a mais (é como se o aluguel ficasse de 8% a 17% mais caro).<br>
    A vantagem do seguro-fiança é que você consegue parcelá-lo durante os meses de contrato. A desvantagem é que você paga e não recebe o dinheiro de volta. Esse é a pior alternativa das que mostramos… só use o seguro-fiança se o caução ou título de capitalização não servirem pra você.<br>
    Caso você tenha que recorrer a esse método, peça para negociar o valor do aluguel. Os donos de imóvel costumam ser receptivos quando sabem que você vai ter que pagar essas taxas tão altas.</p>

{% endblock %}
