{% extends 'blog/base.html' %}

{% block blog %}

    <h1>Vida em Rep</h1>
    <!-- <h2>Começando com o pé direito - como evitar conflitos na república</h2>
    <p>Morar em república é uma experiência ótima, uma nova fase na sua vida, um momento para fazer grandes amigos e aprender a se virar sozinho, sem contar que é extremamente divertido.<br>
    Mas para muita gente é a primeira vez que estão morando com pessoas novas e é importante ter em mente boas práticas do que fazer ou não fazer para se dar bem com seus amigos de república. A palavra chave é bom senso, mas é bom ter boas práticas.<br>
    Defina regras no começo da república. São coisas super simples e vão facilitar muito sua vida em república (evitando brigas e stress desnecessários):</p>
    <ul>
        <li>Quem vai pagar as contas;</li>
        <li>Quem vai fazer as contas e garantir que a república está funcionando;</li>
        <li>Que produtos ou alimentos vocês vão dividir;</li>
        <li>Como ou quem vai fazer a limpeza;
        <li>Quais são as regras para trazer namorad@, peguete, ficante, amig@, etc;</li>
        <li>Quando pode fazer festa em casa;</li>
        <li>Como é o espaço comum da casa;</li>
        <li>O que fazer com a louça suja;</li>
    </ul>

    <p>Siga essas dicas e sua convivência vai ficar bem mais fácil!</p> -->

{% endblock %}
